<% content_for :submenu do %>
  <div class="ui sub menu">
    <%= link_to "Listar", patients_path, class: "item active" %>
    <%= link_to "Adicionar", new_patient_path, class: "item" %>
  </div>
<% end %>

<% @patients.each do |patient| %>
  <p><%= patient.person.name %></p>
<% end %>

<table class="ui table segment">
  <thead>
    <tr><th>Name</th>
    <th>Status</th>
    <th>Notes</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>Jamie</td>
      <td>Approved</td>
      <td>Requires call</td>
    </tr>
    <tr class="active">
      <td class="active">John</td>
      <td>Selected</td>
      <td>None</td>
    </tr>
    <tr>
      <td>Jamie</td>
      <td>Approved</td>
      <td>Requires call</td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Approved</td>
      <td>None</td>
    </tr>
  </tbody>
</table>